// Define SCSS variables
$textcolor: #fdfdfd;
$customcolor: #230bda;
$border-color: #0a0a0a;

//primary mode field variables
$btn-bg-color: #0239EF;
$btn-text-color: #fff;
$btn-border: none;
$background-color: #fff;
$text-color: #000000;
$input-bg-color: #fff;
$input-focus-bg-color: #fff;
$input-border: #000000;
$input-outline: #000000;
$input-focus-outline: #0239EF;
$input-error-outline: #FF2C2C;
$input-error-focus-outline: #FF2C2C;
$input-error-border: #FF2C2C;

//dark mode field variables
$btn-bg-color-dark: #fff;
$btn-text-color-dark: #0239EF;
$btn-border-dark: 1px solid #0239EF;
$background-color-dark: #000000;
$text-color-dark: #fff;
$input-bg-color-dark: #000000;
$input-focus-bg-color-dark: #000000;
$input-border-dark: #808080;
$input-outline-dark: #fff;
$input-focus-outline-dark: #fff;
$input-error-outline-dark: #FF2C2C;
$input-error-focus-outline-dark: #FF2C2C;
$input-error-border-dark: #FF2C2C;