@use './variables' as *;

:root {
  --button-bg-color: #{$btn-bg-color};
  --button-text-color: #{$btn-text-color};
  --button-border: #{$btn-border};
  --background-color: #{$background-color};
  --text-color: #{$text-color};
  --input-bg-color: #{$input-bg-color};
  --input-focus-bg-color: #{$input-focus-bg-color};
  --input-border: #{$input-border};
  --input-focus-outline: #{$input-focus-outline};
  --input-outline: #{$input-outline};
  --input-error-outline: #{$input-error-outline};
  --input-error-focus-outline: #{$input-error-focus-outline};
  --input-error-border: #{$input-error-border};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$background-color-dark};
    --button-bg-color: #{$btn-bg-color-dark};
    --button-text-color: #{$btn-text-color-dark};
    --text-color: #{$text-color-dark};
    --input-bg-color: #{$input-bg-color-dark};
    --input-focus-bg-color: #{$input-focus-bg-color-dark};
    --input-border: #{$input-border-dark};
    --input-focus-outline: #{$input-focus-outline-dark};
    --input-outline: #{$input-outline-dark};
    --input-error-outline: #{$input-error-outline-dark};
    --input-error-focus-outline: #{$input-error-focus-outline-dark};
    --input-error-border: #{$input-error-border-dark};
  }
}